
* {padding: 0; margin: 0; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

body {background-color: rgb(246, 207, 159);}

/* Animación para el modal */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 1.8em;
  }

  .eslogan {
    font-size: 1em;
    text-align: left;
  }

  .tituloTD {
    text-align: center; /* Centra horizontalmente el contenido de la celda */
    font-size: 1em;
  }

  /* Cambiar el layout de las secciones a una columna */
  .section {
    flex-direction: column;
    align-items: center;
  }

  /* Ajustar el tamaño de las imágenes */
  section img {
    max-width: 100%;
    height: auto;
  }

  /* Ajustar los márgenes y el espaciado */
  .section div {
    margin: 10px 0;
  }

  /* Ajustar el tamaño de los textos */
  .section div p {
    font-size: 0.9em;
  }
}


@media (min-width: 1px) and (max-width: 3124px) {
  .navbar {
    padding: 10px 20px;
  }

  .eslogan {
    font-size: 1em;
    text-align: left;
  }

  .tituloTD {
    text-align: center; /* Centra horizontalmente el contenido de la celda */
    font-size: 1em;
  }

  .esloganTD {
  position: relative;
  left: -65px;
  }
  
  .menu-toggle {
    display: flex; /* Mostrar las barras en pantallas pequeñas */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.navbar ul {
  display: none;
}

/* Cuando la clase 'show' se agrega al menú, se muestra */
.navbar ul.show {
  display: flex; /* Mostrar el menú */
  flex-direction: column; /* Para dispositivos móviles, el menú puede mostrarse como una columna */
}

.menu-toggle div {
  background-color: #333;
  height: 4px;
  width: 100%;
}

.index-list {
  display: none; /* Ocultar el menú por defecto en pantallas pequeñas */
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #8b5e3c
}



.index-list li {
  padding: 10px;
  text-align: center; /* Centrar los elementos en el menú */
}



.index-list li a {
  text-decoration: none;
}

  .scroll img {
    border-radius: 10px; /* Bordes redondeados para las imágenes */
  }

  .add-to-favorites, .add-to-cart {
    padding: 15px 30px;  /* Aumentar el tamaño de los botones en dispositivos móviles */
    font-size: 18px;
  }

.navbar li {
  display: block;
  width: 100%;
  text-align: left;
}

  .navbar .menu-toggle {
    display: block;
  }

  .menu-toggle.open div:nth-child(1) {
    transform: rotate(-45deg);
    position: relative;
    top: 8px;
}

  .navbar .menu-toggle.open div:nth-child(2) {
    opacity: 0; /* Ocultar la segunda línea del menú */
  }

  .menu-toggle.open div:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }

  .index-list.show {
    display: block;
  }

  /* Ajustes al título para pantallas más pequeñas */
  #titulo {
    font-size: 4vw;  /* Utilizamos vw para ajustar el tamaño con el ancho de la ventana */
    text-align: left;
  }

  /* Ajustes en las imágenes dentro de la parallax */
  .parallax {
    background-attachment: scroll; /* El parallax no se puede usar en dispositivos móviles, por lo que lo cambiamos */
  }

  /* Ajuste de márgenes en el footer */
  .footer {
    padding: 20px 10px;
  }

  /* Estilos generales para pantallas móviles */
  .index-list a {
    font-size: 18px; /* Reducir el tamaño de texto */
    padding: 10px; /* Añadir algo de padding en cada enlace */
  }

  .index-list.show {
    display: block;
    background-color: #8b5e3c;
  }

  .footer-content {
    padding: 10px 0;
  }

  .image-gallery {
    display: block;
    overflow-x: auto; /* Desplazamiento horizontal para las tablas */
    -webkit-overflow-scrolling: touch;
}


.image-gallery td {
    display: block;
    width: 100%;
    text-align: left;
}

.image-gallery tr {
    display: block;
    margin-bottom: 20px;
}

.product-info h1 {
  font-size: 16px;
}

.product-info button {
  width: 100%; /* Botones ocupan todo el ancho disponible */
}
}

@media (max-width: 480px) {
  #titulo {
    font-size: 15px; /* Reducir aún más el tamaño */
  }

  .index-list {
    font-size: 12px; /* Reducir aún más el tamaño de los enlaces */
  }
}

.menu-toggle {
  display: none; /* Ocultar por defecto */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.menu-toggle div {
  width: 30px;
  height: 5px;
  background-color: #333;
  border-radius: 5px;
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v25/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

#titulo {font-size: 155px; 
  font-family: "Dancing Script";
  text-align: center;
  margin-top: 45px;
  animation: fadeIn 2s ease-in-out; /* Animación de aparición */
  transition: transform 0.3s ease; /* Suavizado al pasar el mouse */
}

.tituloTD {
  text-align: center; /* Centra horizontalmente el contenido de la celda */
}

/*#titulo:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del texto
  color: #ff1493; Cambia el color al hacer hover 
  transform-origin: right; /* El punto de referencia del escalado es la izquierda 
}*/

.eslogan {
  font-family: "Dancing Script", cursive; /* Tipografía atractiva */
  font-size: 3rem; /* Tamaño más grande */
  color: #ff6347; /* Un color vibrante (tomato) */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Sombra suave */
  letter-spacing: 2px; /* Espaciado entre letras */
  line-height: 1.3; /* Ajustamos la altura de la línea */
  font-weight: bold; /* Hace que el texto sea más llamativo */
  animation: fadeIn 2s ease-in-out; /* Animación de aparición */
  transition: transform 0.3s ease; /* Suavizado al pasar el mouse */
}

/* Al pasar el mouse sobre el eslogan, hacemos que se mueva un poco */
/*.eslogan:hover {
  transform: scaleX(1.2);
  color: #ff1493;
  transition: transform 0.3s ease, color 0.3s ease;
}*/

.esloganT {
    width: 100%;
    
}

.esloganTD {
  text-align: right; /* Alinea el contenido a la derecha */
  width: 100%; /* Hace que la celda ocupe todo el ancho disponible */
}

.portada {display: block;
          margin: 3;
          padding: auto;}

footer {text-align: center; background-color: #8b5e3c; color: #f6cf9f;}

.parallax {
    /*"Parallax" se refiere a la imágen del fondo de la página.*/
    background-image: url("../img/portada.png");

    /*Cambia el tamaño.*/
    min-height: 500px;
  
    /* Crea y modifica la imágen del fondo. */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

/* Estilo para el contenedor que usará CSS Grid */
.photo-grid {
  display: grid; /* Activar el uso de grid */
  grid-template-columns: repeat(2, 1fr); /* Crear 2 columnas */
  width: 50%; /* Ancho del contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
  padding: 0; /* Eliminar el padding */
  height: 70vh; /* Ocupar toda la altura de la ventana */
  box-sizing: border-box; /* Para que el padding no afecte el tamaño total */
  justify-items: center; /* Centra horizontalmente las celdas */
  align-items: center; /* Centra verticalmente las celdas */
}

/* Estilo para cada imagen */
.photo {
  width: 100%; /* Ocupa todo el ancho de la celda de grid */
  height: 100%; /* Ocupa toda la altura de la celda */
  overflow: hidden; /* Asegura que la imagen no se desborde */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil para un efecto 3D */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave al hacer hover */
}

/* Estilo para las imágenes */
.photo img {
  width: 100%; /* Asegura que las imágenes ocupen todo el contenedor */
  height: 100%; /* Asegura que las imágenes ocupen todo el contenedor */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible */
  border-radius: 15px; /* Bordes redondeados */
}

/* Efecto al pasar el ratón */
.photo:hover {
  transform: scale(1.05); /* Aumenta el tamaño de la imagen */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Aumenta la sombra para un efecto de profundidad */
}

#indicederecha {float: right; right: 0; position: absolute; margin: 5;}

.letragrande {font-size: 20px;}

#tabla {margin: 3;}

div.scroll {
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  div.scroll img {
    padding: 10px;
  }

  #botonindice {border: 0; font-size: 25px; background-color: rgb(246, 207, 159);}
  .botonhover:hover {border: 5; background-color: aqua; color: black; font-style: italic; text-decoration: underline;}
  
  #vestidoprod {margin: 3; padding: 55px; text-align: center; border-radius: 15px; font-size: 35px; }

  .vestidos {
    display: flex;
    flex-wrap: wrap; /* Permite que los productos se distribuyan en filas */
    justify-content: center;
    gap: 20px; /* Espacio entre los productos */
    padding: 20px;
  }

  .vestidoimg {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    max-height: 300px; /* Limita la altura de las imágenes para que no se estiren demasiado */
    object-fit: cover; /* Ajusta la imagen para que no se deforme */
  }
    .vestidoimg:hover {
      transform: scale(1.05); /* Aumentar ligeramente la imagen cuando el cursor pase por encima */
    }

  img {border: 50px; max-width: 100%; height: auto;}

  .contact_form{	
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center; 	
  }
  
  
  button {
    background-color: #ff5b5b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Ocupa el 100% del ancho disponible dentro de su contenedor */
    max-width: 280px; /* Limita el ancho máximo del botón */
    margin-top: 10px; /* Espacio entre los botones y la imagen */
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total */
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #ab4493; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  .h1_form{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #8b5e3c;
  }
  
  
  .h3_form{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #8b5e3c; /* Color marrón similar a la estética general */
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000;
    display: block;
  }
  
  .index-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .index-list li {
    margin: 0 15px;
  }
  
  .index-list a {
    text-decoration: none;
    color: #f6cf9f; /* Color beige claro para contrastar con el fondo */
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .index-list a i {
    font-size: 16px;
    color: #f6cf9f; /* Color de los íconos a juego con el texto */
  }
  
  .index-list a:hover {
    color: #fff;
    text-decoration: underline;
  }

  /* Estilos para la galería de imágenes */
  .image-gallery {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse; /* Para que las celdas estén pegadas */
    text-align: center;
  }

.image-gallery td {
  padding: 10px;
}

.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease; /* Animación para que el modal aparezca suavemente */
}

.modal-content {
  width: 80%;  /* Tamaño de la imagen en primer plano */
  max-width: 600px; /* No ocupar toda la pantalla, controlamos el tamaño máximo */
  transition: transform 0.3s ease; /* Transición suave al abrirse */
  display: block;
  margin: auto;
  transform: scale(0.8); /* Iniciar con un tamaño más pequeño */
}

.modal.show .modal-content {
  transform: scale(1); /* Ampliar la imagen a su tamaño original al abrir el modal */
}

/* Botón de cerrar modal */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para la cesta de compras */
.cesta-section {
  margin: 30px auto;
  padding: 20px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cesta-title {
  text-align: center;
  font-size: 30px;
  color: #8b5e3c;
  margin-bottom: 20px;
}

.cesta-items {
  margin-bottom: 20px;
}

.cesta-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.product-info {
  display: flex;
  flex-direction: column; /* Los botones y el título se apilan verticalmente */
  justify-content: space-between; /* Distribuye el espacio entre el título y los botones */
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.product-info h1 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px; /* Separación entre el título y los botones */
  text-align: center;
  line-height: 1.2;
}


.quantity-input {
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

.remove-button {
  background-color: #8b5e3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #f6cf9f;
  color: #333;
}

.cesta-summary {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.checkout-button {
  background-color: #8b5e3c;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #f6cf9f;
  color: #333;
}

/* Estilos para la sección de Favoritos */
.favoritos-section {
  margin: 30px auto;
  padding: 20px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.favoritos-title {
  text-align: center;
  font-size: 30px;
  color: #8b5e3c;
  margin-bottom: 20px;
}

.favoritos-items {
  margin-bottom: 20px;
}

.favoritos-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}


.product-container {
  display: flex;
  flex-direction: column; /* Los elementos se apilan verticalmente */
  align-items: center;
  width: 100%; /* Por defecto, ocupa todo el ancho en pantallas pequeñas */
  max-width: 300px; /* Limita el tamaño máximo para cada producto */
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center; /* Alinea el texto dentro del contenedor */
  margin-bottom: 20px; /* Espacio inferior para separar los productos */
}

/* Efecto hover para cada producto */
.product-container:hover {
  transform: scale(1.05);
}

.remove-button {
  background-color: #8b5e3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #f6cf9f;
  color: #333;
}

.no-favorites {
  text-align: center;
  font-size: 18px;
  color: #8b5e3c;
  font-weight: bold;
  margin-top: 30px;
}

/* Estilo para los botones de añadir a favoritos */
.add-to-favorites {
  background-color: #8b5e3c;
  color: #fff;
  border: none;
  padding: 5px 10px; /* Reducir el padding */
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-right: 10px;
}

.add-to-favorites:hover {
  background-color: #f6cf9f;
  color: #333;
}

/* Estilo para los botones de añadir a la cesta */
.add-to-cart {
  background-color: #ab4493;
  color: #fff;
  border: none;
  padding: 5px 10px; /* Reducir el padding */
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-right: 10px;
}

.add-to-cart:hover {
  background-color: #f6cf9f;
  color: #333;
}

/* Estilos para el footer */
.footer {
  background-color: #8b5e3c; /* Color de fondo marrón oscuro */
  color: #f6cf9f; /* Color de texto beige claro */
  padding: 30px 0;
  text-align: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Contenedor para el contenido del footer */
.footer-content {
  max-width: 1200px; /* Ancho máximo para el contenido */
  margin: 0 auto; /* Centrar el contenido */
  padding: 0 20px;
}

/* Información de la empresa */
.footer-info {
  margin-bottom: 20px;
}

.footer-info p {
  margin: 5px 0;
}

.footer-info a {
  color: #f6cf9f;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: underline;
}

.contact-info span {
  font-weight: bold;
}

/* Enlaces sociales */
.social-links {
  margin: 20px 0;
}

.social-icon {
  margin: 0 10px;
  color: #f6cf9f;
  text-decoration: none;
  font-size: 18px;
}

.social-icon:hover {
  color: #fff;
}

.spanF {
  color: black;
}

.notification {
  display: none;  /* Oculta por defecto */
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con algo de transparencia */
  color: white; /* Asegura que el texto será blanco */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: center;
  font-size: 16px;
}

.notification button {
  background-color: #8b5e3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.notification button:hover {
  background-color: #f6cf9f;
}

button i {
  margin-right: 8px; /* Espaciado entre el icono y el texto */
  font-size: 18px; /* Ajustar el tamaño del icono */
}

/* Estilo para los botones */
.add-to-favorites, .add-to-cart {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8b5e3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-favorites:hover, .add-to-cart:hover {
  background-color: #f6cf9f;
}

@media (max-width: 768px) {
  .product-info h1 {
    font-size: 16px; /* Reducir el tamaño del texto en pantallas más pequeñas */
  }

  .navbar ul.show {
    display: flex; /* Mostrar el menú */
    flex-direction: column; /* Para dispositivos móviles, el menú puede mostrarse como una columna */
  }

  button {
    font-size: 14px; /* Botones más pequeños en pantallas pequeñas */
  }

  /* Estilo general */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo de la galería de imágenes */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Grid responsivo para columnas */
  gap: 20px; /* Espacio entre los productos */
  padding: 20px;
  justify-items: center; /* Centra los items dentro de las celdas */
}

/* Estilo de cada celda de producto */
td {
  display: flex;
  flex-direction: column; /* Asegura que los elementos (imagen y botones) se apilen verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: flex-start; /* Alinea los elementos al inicio */
  text-align: center;
  padding: 10px;
}

/* Estilo para las imágenes */
.vestidoimg {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  max-height: 300px; /* Limita la altura de las imágenes para que no se estiren demasiado */
  object-fit: cover; /* Ajusta la imagen para que no se deforme */
}

.vestidoimg:hover {
  transform: scale(1.05);
}

.product-info {
  display: flex;
  flex-direction: column; /* Los botones y el título se apilan verticalmente */
  justify-content: space-between; /* Distribuye el espacio entre el título y los botones */
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

/* Títulos de los productos */
.product-info h1 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px; /* Separación entre el título y los botones */
  text-align: center;
  line-height: 1.2;
}


/* Estilo para los botones */
button {
  background-color: #ff5b5b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Ocupa el 100% del ancho disponible dentro de su contenedor */
  max-width: 280px; /* Limita el ancho máximo del botón */
  margin-top: 10px; /* Espacio entre los botones y la imagen */
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total */
}
button:hover {
  background-color: #e04d4d;
}
}