
* {padding: 0; margin: 0; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

body {background-color: rgb(246, 207, 159);}

/* Animación para el modal */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .index-list {
    flex-direction: column; /* Cambiar a una columna en lugar de fila */
    align-items: center;
    display: none; /* Ocultar el menú por defecto en pantallas móviles */
    width: 100%;
    text-align: center;
  }

  .navbar .menu-toggle {
    display: block;
  }

  .navbar .menu-toggle.open div:nth-child(1) {
    transform: rotate(45deg); /* Girar la primera línea del menú */
    position: relative;
  }

  .navbar .menu-toggle.open div:nth-child(2) {
    opacity: 0; /* Ocultar la segunda línea del menú */
  }

  .menu-toggle.open div:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
  }

  .index-list.show {
    display: flex;
  }

  /* Ajustes al título para pantallas más pequeñas */
  #titulo {
    font-size: 35px; /* Reducir aún más el tamaño */
  }

  /* Ajustes en las imágenes dentro de la parallax */
  .parallax {
    background-attachment: scroll; /* El parallax no se puede usar en dispositivos móviles, por lo que lo cambiamos */
  }

  /* Ajuste de márgenes en el footer */
  .footer {
    padding: 20px 10px;
  }

  /* Estilos generales para pantallas móviles */
  .index-list a {
    font-size: 18px; /* Reducir el tamaño de texto */
    padding: 10px; /* Añadir algo de padding en cada enlace */
  }

  .index-list.show {
    display: block;
    background-color: #8b5e3c;
  }

  .footer-content {
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  #titulo {
    font-size: 30px; /* Reducir aún más el tamaño */
  }

  .index-list {
    font-size: 12px; /* Reducir aún más el tamaño de los enlaces */
  }
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v25/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

#titulo {text-align: center;  background-color: (246, 207, 159); font-size: 155px; font-family: "Dancing Script";  margin-top: 45px; }

.portada {display: block;
          margin: 3;
          padding: auto;}

footer {text-align: center; background-color: #8b5e3c; color: #f6cf9f;}

.parallax {
    /*"Parallax" se refiere a la imágen del fondo de la página.*/
    background-image: url("../img/portada.png");

    /*Cambia el tamaño.*/
    min-height: 500px;
  
    /* Crea y modifica la imágen del fondo. */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

#indicederecha {float: right; right: 0; position: absolute; margin: 5;}

.letragrande {font-size: 20px;}

#tabla {margin: 3;}

div.scroll {
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  div.scroll img {
    padding: 10px;
  }

  #botonindice {border: 0; font-size: 25px; background-color: rgb(246, 207, 159);}
  .botonhover:hover {border: 5; background-color: aqua; color: black; font-style: italic; text-decoration: underline;}
  
  #vestidoprod {margin: 3; padding: 55px; text-align: center; border-radius: 15px; font-size: 35px; }

  .vestidos {border-top: solid;}

  .vestidoimg {border-radius: 15px; border-style: solid; border: 50px; cursor: pointer;
    transition: transform 0.3s ease; /* Transición suave */
    outline: none;}

    .vestidoimg:hover {
      transform: scale(1.05); /* Aumentar ligeramente la imagen cuando el cursor pase por encima */
    }

  img {border: 50px; max-width: 100%; height: auto;}

  .contact_form{	
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center; 	
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px; 	
    margin-bottom: 20px; 
    margin-top: 10px; 	
    text-transform: uppercase;
    background-color: #8b5e3c; 
    border-color: #8b5e3c; 
    border-style: solid; 
    border-radius: 10px;	
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #ab4493; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  .h1_form{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #8b5e3c;
  }
  
  
  .h3_form{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #8b5e3c; /* Color marrón similar a la estética general */
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000;
    display: block;
  }
  
  .index-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .index-list li {
    margin: 0 15px;
  }
  
  .index-list a {
    text-decoration: none;
    color: #f6cf9f; /* Color beige claro para contrastar con el fondo */
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .index-list a i {
    font-size: 16px;
    color: #f6cf9f; /* Color de los íconos a juego con el texto */
  }
  
  .index-list a:hover {
    color: #fff;
    text-decoration: underline;
  }

  /* Estilos para la galería de imágenes */
  .image-gallery {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse; /* Para que las celdas estén pegadas */
    text-align: center;
  }

.image-gallery td {
  padding: 10px;
}

.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease; /* Animación para que el modal aparezca suavemente */
}

.modal-content {
  width: 80%;  /* Tamaño de la imagen en primer plano */
  max-width: 600px; /* No ocupar toda la pantalla, controlamos el tamaño máximo */
  transition: transform 0.3s ease; /* Transición suave al abrirse */
  display: block;
  margin: auto;
  transform: scale(0.8); /* Iniciar con un tamaño más pequeño */
}

.modal.show .modal-content {
  transform: scale(1); /* Ampliar la imagen a su tamaño original al abrir el modal */
}

/* Botón de cerrar modal */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para la cesta de compras */
.cesta-section {
  margin: 30px auto;
  padding: 20px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cesta-title {
  text-align: center;
  font-size: 30px;
  color: #8b5e3c;
  margin-bottom: 20px;
}

.cesta-items {
  margin-bottom: 20px;
}

.cesta-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.product-info {
  flex: 1;
  font-size: 16px;
}

.quantity-input {
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

.remove-button {
  background-color: #8b5e3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #f6cf9f;
  color: #333;
}

.cesta-summary {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.checkout-button {
  background-color: #8b5e3c;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #f6cf9f;
  color: #333;
}

/* Estilos para la sección de Favoritos */
.favoritos-section {
  margin: 30px auto;
  padding: 20px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.favoritos-title {
  text-align: center;
  font-size: 30px;
  color: #8b5e3c;
  margin-bottom: 20px;
}

.favoritos-items {
  margin-bottom: 20px;
}

.favoritos-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.product-info {
  flex: 1;
  font-size: 16px;
}

.remove-button {
  background-color: #8b5e3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #f6cf9f;
  color: #333;
}

.no-favorites {
  text-align: center;
  font-size: 18px;
  color: #8b5e3c;
  font-weight: bold;
  margin-top: 30px;
}

/* Estilo para los botones de añadir a favoritos */
.add-to-favorites {
  background-color: #8b5e3c;
  color: #fff;
  border: none;
  padding: 5px 10px; /* Reducir el padding */
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-right: 10px;
}

.add-to-favorites:hover {
  background-color: #f6cf9f;
  color: #333;
}

/* Estilo para los botones de añadir a la cesta */
.add-to-cart {
  background-color: #ab4493;
  color: #fff;
  border: none;
  padding: 5px 10px; /* Reducir el padding */
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-right: 10px;
}

.add-to-cart:hover {
  background-color: #f6cf9f;
  color: #333;
}

/* Estilos para el footer */
.footer {
  background-color: #8b5e3c; /* Color de fondo marrón oscuro */
  color: #f6cf9f; /* Color de texto beige claro */
  padding: 30px 0;
  text-align: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Contenedor para el contenido del footer */
.footer-content {
  max-width: 1200px; /* Ancho máximo para el contenido */
  margin: 0 auto; /* Centrar el contenido */
  padding: 0 20px;
}

/* Información de la empresa */
.footer-info {
  margin-bottom: 20px;
}

.footer-info p {
  margin: 5px 0;
}

.footer-info a {
  color: #f6cf9f;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: underline;
}

.contact-info span {
  font-weight: bold;
}

/* Enlaces sociales */
.social-links {
  margin: 20px 0;
}

.social-icon {
  margin: 0 10px;
  color: #f6cf9f;
  text-decoration: none;
  font-size: 18px;
}

.social-icon:hover {
  color: #fff;
}

.spanF {
  color: black;
}

.notification {
  display: none;  /* Oculta por defecto */
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con algo de transparencia */
  color: white; /* Asegura que el texto será blanco */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: center;
  font-size: 16px;
}

.notification button {
  background-color: #8b5e3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.notification button:hover {
  background-color: #f6cf9f;
}

button i {
  margin-right: 8px; /* Espaciado entre el icono y el texto */
  font-size: 18px; /* Ajustar el tamaño del icono */
}

/* Estilo para los botones */
.add-to-favorites, .add-to-cart {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8b5e3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-favorites:hover, .add-to-cart:hover {
  background-color: #f6cf9f;
}